<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>MP Travel</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/full-slider.css}" href="../static/bootstrap/css/full-slider.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header th:replace="fragments/parts::menu">
</header>

<main class="col-4 offset-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Add Vacation</h1></div>
                <br/>
                <form method="post" th:object="${vacationBindingModel}">
                    <div class="form-group row" th:classappend="${#fields.hasErrors('title')} ? 'has-danger'">
                        <label class="form-control-label">Title</label>
                        <input name="title" min="5" class="form-control" placeholder="Enter Vacation Title" th:field="*{title}"/>
                        <small class="alert-danger" th:each="error : ${#fields.errors('title')}" th:text="${error}">
                            Sorry, the title is invalid
                        </small>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'">
                        <label class="form-control-label">Description</label>
                        <textarea name="description" min="20" class="form-control" placeholder="Enter Vacation Description" th:field="*{description}"></textarea>
                        <small class="alert-danger" th:each="error : ${#fields.errors('description')}" th:text="${error}">
                            Sorry, the description is invalid
                        </small>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('imageUrl')} ? 'has-danger'">
                        <label class="form-control-label">Thumbnail</label>
                        <input name="imageUrl" pattern="^(http|https)://.+" class="form-control" placeholder="Enter URL to Image" th:field="*{imageUrl}"/>
                        <small class="alert-danger" th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}">
                            Sorry, the image url is invalid
                        </small>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('price')} ? 'has-danger'">
                        <label class="form-control-label">Price</label>
                        <div class="input-group">

                            <input name="price" step="0.01" min="0" class="form-control" placeholder="Enter Price" th:field="*{price}"/>
                            <span class="input-group-addon">&euro;</span>
                        </div>
                        <small class="alert-danger" th:each="error : ${#fields.errors('price')}" th:text="${error}">
                            Sorry, the price is invalid
                        </small>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('startDate')} ? 'has-danger'">
                        <label class="form-control-label">Start Date</label>
                        <input name="startDate" type="date" class="form-control" placeholder="yyyy-MM-dd" th:field="*{startDate}"/>
                        <small class="alert-danger" th:each="error : ${#fields.errors('startDate')}" th:text="${error}">
                            Sorry, the start date is invalid
                        </small>
                    </div>

                    <div class="form-group row" th:classappend="${#fields.hasErrors('endDate')} ? 'has-danger'">
                        <label class="form-control-label">End Date</label>
                        <input name="endDate" type="date" class="form-control" placeholder="yyyy-MM-dd" th:field="*{endDate}"/>
                        <small class="alert-danger" th:each="error : ${#fields.errors('endDate')}" th:text="${error}">
                            Sorry, the end date is invalid
                        </small>
                    </div>

                    <input type="submit" id="btn-add-game" class="btn btn-outline-success btn-lg btn-block"
                           value="Add Vacation"/>
                </form>
                <br/>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/parts::footer">
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>