<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/full-slider.css}" href="../static/bootstrap/css/full-slider.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header th:replace="fragments/parts::menu_home">
    </header>

    <header th:replace="fragments/parts::home_header">
    </header>

    <table id="vacations_table">

    </table>

    <div th:replace="fragments/parts::footer">
    </div>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })

//        TODO: Sample with AJAX
//        $(function () {
////            $('div#menu1 > div#menu2 > div#bs-example-navbar-collapse-1 > ul#menu4 > li#vacations_menu').click(loadVacations());
//        })
//
//        function loadVacations() {
//            $.ajax({
//                type: 'GET',
//                url: '/vacations',
//                dataType: 'json',
//                contentType: 'application/json',
//                success: function (vacations) {
//
//                    $('.carousel').remove();
//
//                    $.each(vacations, function(i, vacation) {
//                        var title = vacation.title;
//                        $('#vacations_table')
//                            .append($('<thead><tr><th>Title</th></tr></thead><tbody><tr><td>' + title +'</td></tr></tbody>')
//                            )
//                    });
//                }
//            });
//        }

    </script>
</body>
</html>